html, body {
    width       : 100%;
    height      : 100%;
    margin      : 0;
    font-family : 'Raleway', sans-serif;
    color       : #322;
}

#loading-message {
    display    : block;
    margin     : auto;
    margin-top : 50px;
    text-align : center;
}

#stop-name {
    position   : fixed;
    bottom     : 2em;
    right      : 1em;

    font-size  : 2em;
    text-align : right;
    text-shadow: white  2px  0px 1px,
                 white  0px  2px 1px,
                 white -2px  0px 1px,
                 white  0px -2px 1px;
}

svg {
    display : block;
    width   : 100%;
    height  : 100%;
}

path {
    fill : none;
}

path.stop {
    stroke           : none;
    fill             : springgreen;
    opacity          : 0.8;
}

path.region {
    stroke : none;
    fill   : #f7f7f7;
}

path.boundary {
    stroke           : #777;
    stroke-width     : 3px;
    stroke-linejoin  : round;
    opacity          : 0.3;
}

path.voronoi-polygon {
    stroke         : rgb(250, 128, 114);
    stroke-width   : 1;
    stroke-opacity : 0.1;
    pointer-events : all;
}

path.voronoi-polygon:hover {
    stroke-opacity: 1;
}

/* Pace theme */
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}
